{% extends 'base.html.twig' %}

{% form_theme form with ['bootstrap_4_layout.html.twig'] %}

	{% block title %}Réserver l'annonce {{ad.title}}{% endblock %}



		{% block body %}

			<div class="container">
				<h1>Réserver l'annonce {{ad.title}}</h1>

				{{ form_start(form) }}

				<div class="row">	
					<div class="col">
				{{ form_row(form.startDate,{'label':"Date d'arrivée"} ) }}
					</div>
					<div class="col">
				{{ form_row(form.endDate,{'label':"Date de départ"}) }}
					</div>
				</div>

			<div class="row">
				<div class="col">
				{{ form_row(form.comment,{'label':"Commentaire"}) }}
				</div>
			</div>

			<h4>Montant du séjour</h4>
			<div class="mt-3"><strong>0 nuit à {{ad.price}} €</strong> </div>

			<br>
			<button type="submit" class="btn btn-success" >Réserver</button>

				{{ form_end(form) }}


			</div>
		{% endblock %}


		



